.navbar {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: rgb(177, 56, 247);
}
.logo_div {
  width: 50%;
}
.logo {
  color: white;
}
.nav {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 40px;
}
.section {
  height: 100vh;
}
